@page
@model StarWars.Games.BackOffice.Web.UI.Pages.DecouverteFormulaireModel
@{
}

<form method="post">
	<input name="prenom" type="text" />
	<input name="nom" type="text" />
	<input name="age" type="number" />

	@* <input type="submit" /> *@
	<button>Send</button>
</form>

<form method="post">
	<input type="hidden" value="2" name="pagination" />
	<button>Page 2</button>
</form>